* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  height: 100vh;
}

.left-wrapper {
  background-image: url(./images/sign-up-form-background.avif);
  background-size: cover;
  color: white;
  width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.odin-lined {
  width: 130px;
}

.odin-wrapper {
  margin-top: 50%;
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4); /* 50% transparent black */
}

.img-credit-creator {
  text-align: center;
  margin-bottom: 15px;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 77vw;
}

.form-intro {
  margin-left: 40px;
}

button {
  margin-top: 20px;
}

.fields-wrapper {
  display: flex;
  background-color: beige;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.form-wrapper > h3 {
  background-color: beige;
  margin-top: 100px;
  padding-left: 40px;
  padding-top: 10px;
}

.form-wrapper + div {
  margin-top: 50px;
  margin-left: 40px;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

}

.right-field {
  margin-left: 40px;
}

form > div {
  padding-left: 40px;
}

form button {
  margin-left: 40px;
}

.img-credit-creator a {
  text-decoration: none;
  color: white;
}

body {
  font-family: sans-serif;
}