* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  height: 100vh;
}

.left-wrapper {
  background-image: url(./images/sign-up-form-background.avif);
  background-size: cover;
  color: white;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.odin-lined {
  width: 130px;
}

.odin-wrapper {
  margin-top: 50%;
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4); /* 50% transparent black */
}

.img-credit-creator {
  text-align: center;
  margin-bottom: 15px;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F9FAFB;
  width: 77vw;
}

.form-intro {
  margin-left: 40px;
  margin-right: 200px;
  font-size: 24px;
  font-weight: bold;
}

.form-intro :last-child {
  margin-top: 24px;
}

button {
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 48px;
  background-color: #596D48;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px gray;
  outline: none;
}

.btn-div {
  background-color: #F9FAFB;
  box-shadow: inset 0px 2px gray;
}

.fields-wrapper {
  display: flex;
  padding-bottom: 32px;
  
}

.form-wrapper {
  background-color: white;
}

.form-wrapper > h3 {
  margin-top: 60px;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.form-wrapper + div {
  margin-top: 40px;
  margin-left: 40px;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

}

.right-field {
  margin-left: 40px;
}

form > div {
  padding-left: 40px;
}

.img-credit-creator a {
  text-decoration: none;
  color: white;
}

body {
  font-family: sans-serif;
}

.account-login {
  font-size: 18px;
}

a {
  color: #596D48;
  font-weight: bold;
  text-decoration: none;
}

label {
  font-size: 14px;
}

input {
  font-size: 16px;
  border-radius: 4px;
  height: 40px;
  width: 300px;
  padding: 10px;
}